.bigCard {

    .card {
        background-color: rgb(17, 15, 15);
        width: 500px;
        padding: 15px;
        border-radius: 30px;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info {
            color: aliceblue;
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            flex-wrap: wrap;

            .written {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-top: 5px;

                img {
                    width: clamp(1rem,2vw,2vw);
                    height: 20px;
                    margin: 2px;
                    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(160deg) brightness(108%) contrast(101%);
                }

                p {
                    
                    display: inline;
                    margin-bottom: 0;
                }
            }

            .tags {
                display: flex;
                flex-direction: row;
                gap: 5px;
                span {
                    text-transform: capitalize;
                    background-color: rgb(1, 4, 182);
                    border-radius: 15px;
                    padding: 3px 10px 3px 10px;
                }

            }

            p {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 5px;
            }

           
        }

        h5 {
            padding: 10px 0px 0px 0px;
            font-size: 15px;
        }

        h3 {
            color: blue;
            text-transform: capitalize;
            padding: 10px 0px 10px 0px;
        }

        h6 {
            color: rgb(167, 146, 226);
            padding: 0px 0px 15px 0px;
        }


    }

    @media (max-width: 500px) {
        .card {

            width: 300px;

            img {
                width: 100%;
            }

            h5 {
                font-size: 12px
            }

            p {
                font-size: 8px;
            }

            h6 {
                font-size: 12px;
            }

            h3 {
                font-size: 20px;
            }

            span {
                font-size: 10px;
            }
        }
    }


}

